VBox {
	-fx-background-color: #3a4b53;
}

HBox {
	-fx-background-color: #3a4b53;
	-fx-spacing: 10;
	-fx-alignment: center-left;
	-fx-padding: 10,10,10,10;
}

.root {
	-fx-background-color: #435761;
}

.text { 
	color: #000000; 
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

/*.btn {
	-fx-text-fill: ##3a4b53;
	-fx-background-color: #dfe5e8;//#45e03a;
	-fx-background-radius: 45;
}

.btn:hover {
	-fx-background-color: ##becbd2;
}
*/
.scroll-pane {
	-fx-background: #3a4b53;
	-fx-border-color: #4d636f;
	-fx-focus-color: #000000;
}

.scroll-pane:focused{
	-fx-highlight-fill: #3a4b53;
}

.scroll-bar {
	-fx-background-color: #435761;
}

/* BAR */
.scroll-bar .thumb {
	-fx-background-color: #7d97a5;
}

/*.btn {
	-fx-text-fill: ##3a4b53;
}*/

/*.check-box {
	-fx-text-fill: #ff3d3d;
}*/

/*HOVER*/
#background_cb .menu-item:focused {
  -fx-background-color: #7d97a5;
}

#pen_cb .menu-item:focused {
  -fx-background-color: #7d97a5;
}

/*LIST-CELLS*/
#background_cb .context-menu {
    -fx-background-color: #435761;
}

#pen_cb .context-menu {
	-fx-background-color: #435761;
}
/* ARROW & CHOSEN CELL */
#background_cb {
  -fx-mark-color: #435761;
  -fx-background-color: #7d97a5;
}

#pen_cb {
  -fx-mark-color: #435761;
  -fx-background-color: #7d97a5;	
}


.text-area {
	-fx-text-fill: #f5f7f8;
	-fx-prompt-text-fill: #f5f7f8;
	-fx-background-color: #435761;
	-fx-focus-color: #000000;

	-fx-font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

}

.text-area .content{
	-fx-background-color: #435761;
	/*-fx-border-color: #435761;*/
}


#text-prompt {
	-fx-text-fill: #303e45;
	-fx-prompt-text-fill: #303e45;
	-fx-background-color: #dfe5e8;
	-fx-focus-color: #000000;

	-fx-background-insets: 0 0 0 0, 0, 1, 2;
  	-fx-background-radius: 3px, 3px, 2px, 1px;
}

#text-prompt .content {
	-fx-background-color: #f5f7f8;
}



.text-area .scroll-pane {
	-fx-border-color: #303e45;
}

.hyperlink {
	-fx-text-fill: #f5f7f8;
	-fx-border-color: #f5f7f8;
}

.label {
	-fx-text-fill: #f5f7f8;
}

.turtleView {
  -fx-background-color:transparent;
}

.turtleView:hover {
 	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.turtleView:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.turtleView:toggle {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}