VBox {
	-fx-background-color: #3a4b53;
}

#var-VBox {
	-fx-background-color: #435761
}

HBox {
	-fx-background-color: #3a4b53;
	-fx-spacing: 5.0;
	-fx-alignment: center-left;
	-fx-padding: 10.0,10.0,10.0,10.0;
}

.root {
	-fx-background-color: #435761;
}

.text { 
	color: #000000; 
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.scroll-pane {
	-fx-background: #3a4b53;
	-fx-border-color: #4d636f;
	-fx-focus-color: #000000;
}

.scroll-pane:focused{
	-fx-highlight-fill: #3a4b53;
}

.scroll-bar {
	-fx-background-color: #435761;
}

/* BAR */
.scroll-bar .thumb {
	-fx-background-color: #7d97a5;
}

/*HOVER*/
.choice-box .menu-item:focused {
  -fx-background-color: #7d97a5;
}

/*LIST-CELLS*/
.choice-box .context-menu {
    -fx-background-color: #435761;
}

/* ARROW & CHOSEN CELL */
.choice-box {
  -fx-mark-color: #435761;
  -fx-background-color: #7d97a5;
}

.text-area {
	-fx-text-fill: #f5f7f8;
	-fx-prompt-text-fill: #f5f7f8;
	-fx-background-color: #435761;
	-fx-focus-color: #000000;

	-fx-font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

}

.text-area .content{
	-fx-background-color: #435761;
	/*-fx-border-color: #435761;*/
}

.text-area .scroll-pane {
	-fx-border-color: #303e45;
}

#text-prompt {
	-fx-text-fill: #303e45;
	-fx-prompt-text-fill: #303e45;
	-fx-background-color: #dfe5e8;
	-fx-focus-color: #000000;

	-fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
  	-fx-background-radius: 3.0px, 3.0px, 2.0px, 1.0px;
}

#text-prompt .content {
	-fx-background-color: #f5f7f8;
}

#help-hyperlink {
	-fx-text-fill: #f5f7f8;
	-fx-border-color: #f5f7f8;
}

.hyperlink {
	-fx-text-fill: #f5f7f8;
}

.label {
	-fx-text-fill: #f5f7f8;
}

.slider .track {
    -fx-control-inner-background: #f5f7f8;
}

.slider .axis { 
	-fx-tick-label-fill:  #f5f7f8;
}
.turtleView {
  -fx-background-color:transparent;
}

.turtleView:hover {
 	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.turtleView:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5.0;
}

.turtleView:toggle {
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 15.0, 0.0, 0.0, 0.0);
}

#toolbar-button {
	-fx-text-fill: #f5f7f8;
	-fx-background-color: #7d97a5;
}

#toolbar-button:hover {
	-fx-text-fill: #3a4b53;
	-fx-background-color: #f5f7f8;	
}

#toolbar-button:pressed  {
	-fx-text-fill: #f5f7f8;
	-fx-background-color: #7d97a5;
}

.check-box {
	-fx-text-fill: #f5f7f8;
}